# ============================================
# GIRAFFE MOTORS — Variables de entorno
# ============================================

# Servidor
PORT=4000
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=giraffe_db
DB_USER=postgres
DB_PASSWORD=dino13

# JWT
JWT_SECRET=giraffe_super_secret_key_cambiar_en_produccion
JWT_EXPIRES_IN=24h

# CORS
CORS_ORIGIN=http://localhost:5173
